/* Global ==========================*/
:root {
  --background: #f0f2f5;
  --white: #ffffff;
  --blue: #939cb3;
  --dark-blue: #363f5f;
  --green: #12a454;
  --dark-green: #2d4a22;
  --red: #e92929;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: var(--background);

  font-family: "Poppins", sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;

  color: var(--dark-blue);

  font-weight: 400;
}
